<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Novo Pedidos</title>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h1 class="display-4">
					Novo Pedido
				</h1>
			</div>
		</div>
		<form th:object="${pedidoDTO}" action="/pedido/novo" method="POST">
	   <div class="card mt-2">
			<div class="mb-3">
				<div  class="card-body">
						<div class="mb-3">
						<label for="nomeProduto">Produto</label>
						<input th:field="*{nomeProduto}" required class="form-control" placeholder="Nome do produto"/>
						<small class="form-text">Informe qual é o nome do produto</small>
						<div>
							O nome não pode ser nulo.
						</div>
					</div>
					<div class="mb-3">
						<label for="urlProduto">Url</label>
						<input th:field="*{urlProduto}" required class="form-control" placeholder="Url do produto"/>
						<small class="form-text">Procure em um site o produto que você deseja e cole a url da página aqui</small>
						<div>
							A url não pode ser nula
						</div>
					</div>
					<div class="mb-3">
						<label for="urlImagem">Imagem</label>
						<input th:field="*{urlImagem}" required class="form-control" placeholder="Url da imagem do produto"/>
						<small class="form-text">Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores</small>
						<div>
							A imagem não pode ser nula
						</div>
					</div>
					<div class="mb-3">
							<label for="descricao">Descrição</label>
							<textarea th:field="*{descricao}" class="form-control" name="descricao" placeholder="Descrição do produto"></textarea>
							<small class="form-text">Adicione detalhes importante para ajudar o comprador</small>
						</div>
						<div class="d-flex justify-content-around">
							<div class="mb-3">
								<button type="submit" class="btn btn-outline-success">Cadastrar</button>
							</div>
							<div class="mb-3">
							<a href="/pedido/listapedidos"><button type="button" class="btn btn-outline-danger">Cancelar</button></a>
							</div>
						</div>
			</div>
			</div>
	</div>
		</form>
	
</body>
</html>