<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Pedidos</title>
</head>
<body>
	<div class="container">
	<div class="card">
		<div class="card-header">
			<h1 class="display-4">
				Meus pedidos
			</h1>
		</div>
	</div>
			<nav class="navbar navbar-expand bg-body-tertiary d-flex justify-content-between">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/pedido/listapedidos">Todos</a>
				<a th:classappend="${status} == 'aguardando' ? 'active'" class="nav-item nav-link" href="/pedido/aguardando">Aguardando</a>
				<a th:classappend="${status} == 'aprovado' ? 'active'" class="nav-item nav-link" href="/pedido/aprovado">Aprovado</a>
				<a th:classappend="${status} == 'entregue' ? 'active'" class="nav-item nav-link" href="/pedido/entregue">Entregue</a>
			</div>
		
				<a href="/pedido/formulario"><button type="button" class="btn btn-outline-primary">Novo</button></a>
			
		</nav>
	    <div class="card" th:each="pedido : ${listaPedidos}">
			<div th:switch="${pedido.statusPedido.name}">
						<div th:case="'AGUARDANDO'" class="card-header alert-warning" th:text="${pedido.nomeProduto}">Nome do produto</div>
						<div th:case="'APROVADO'" class="card-header alert-success" th:text="${pedido.nomeProduto}">Nome do produto</div>
						<div th:case="'ENTREGUE'" class="card-header alert-dark" th:text="${pedido.nomeProduto}">Nome do produto</div>
			</div>
			
			<div class="card-body">
				<div class="row">
				<div class="col-12 col-sm-8 mb-3">
						<div class="row">
							<div class="col-md-5">Valor: R$<span th:text="${#numbers.formatDecimal(pedido.valorNegociado, 0, 'POINT', 2, 'COMMA')}">200,09</span></div>
						    <div class="col-md-7">Data da entrega:  <span th:text="${#temporals.format(pedido.dataDaEntrega,'dd/MM/yyyy')}">">10/02/202</spanth:text="${pedido.valorNegociado}"></div>
					    </div>
					    <div>Produto</div>
					    <div><input class="form-control" th:value="${pedido.urlProduto}" value="Url do produto"/></div>
					    <div>Descrição</div>
					    <div>
							<textarea class="form-control" th:text="${pedido.descricao}">descrição do pedido</textarea>
						</div>
				</div>
					<div class="col-12 col-sm-4">
						<div>
							<img class="img-thumbnail" th:src="${pedido.urlImagem}" src=""/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>